body {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    min-height: 100vh;
    background: #ccc;
  }
  .insta .insta-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  .insta .insta-photo-profile {
    width: 152px;
    height: 152px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .insta .insta-header-data {
    padding: 10px;
  }
  .insta .insta-info, .insta .insta-follows {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }
  .insta button {
    background: #EEE;
    border: 1px solid #CCC;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 4px;
  }
  .insta .insta-follows p {
    padding-right: 10px;
  }
  .insta .insta-follows span {
    padding-right: 5px;
    font-weight: bold;
  }
  .insta .insta-username {
    font-weight: normal;
    margin: 0;
    margin-right: 20px;
  }
  .insta .insta-gallery {
    padding: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  .insta .insta-gallery .insta-picture-container {
    position: relative;
  }
  .insta .insta-gallery .insta-picture-container:hover .insta-picture-data {
    opacity: 1;
  }
  .insta .insta-picture {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  .insta .insta-picture-data {
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    color: white;
  }
  .insta .insta-picture-data span {
    padding: 10px;
  }