{% extends 'base.html' %} {% block content %}

<head>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>

<div class="content">
	<div class="">
		<div class="page-header-title">
			<h1 class="page-title">Ropa</h1>
		</div>
	</div>
	<br />

	<div style="text-align: right">
		<button
			type="button"
			class="btn btn-success waves-effect waves-light"
			onClick=" window.location.href='/registroCreate' "
			style="text-align: center"
		>
			Agregar ropa
		</button>
	</div>
	<br />

	<section class="insta">
		<section class="insta-gallery">
			{% for registro in registro_list %}
			<section class="insta-picture-container">
				<img class="insta-picture" src="{{registro.url}}"/>
				<section class="insta-picture-data">
					<h5 class="card-title">{{ registro.titulo }}</h5>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					20.000 Pesos
					<p class="card-text">{{ registro.autor }}</p>
				</section>
    		</section>		
			{% endfor %}
		</section>
	</section>
	<div style="text-align: center">
		<button
			type="button"
			class="btn btn-primary waves-effect waves-light"
			onClick=" window.location.href='/' ">
			Volver
		</button>
	</div>
	<br>
	<br>
	
</div>
{% endblock %}
