{% extends 'base.html' %} {% block content %}

<div class="content">
	<div class="">
		<div class="page-header-title">
			<h1 class="page-title">Ropa</h1>
		</div>
	</div>
	<br />

	<div style="text-align: right">
		<button
			type="button"
			class="btn btn-success waves-effect waves-light"
			onClick=" window.location.href='/registroCreate' "
			style="text-align: center"
		>
			Agregar ropa
		</button>
	</div>
	<br />

	<div class="page-content-wrapper">
		<div class="container">
			<!-- Content page -->

			<div class="panel panel-default">
				<div class="panel-body">
					
						<tbody>
							{% for registro in registro_list %}
							
							<div class="container" align = 'center'>
								<div class="row">
					
								  <div class="col-sm">
								
									<div class="card" style="width: 30rem;">
										<img style="width:100%; " src="{{registro.url}}" />
										<div class="card-body">
										  <h5 class="card-title">{{ registro.titulo }}</h5>
										  <p class="card-text">{{ registro.autor }}</p>
										  <a href="#" class="btn btn-primary stretched-link">Más información</a>
										</div>
									  </div>
								  </div>
								
								</div>
							  </div>
							{% endfor %}
						</tbody>
					

					<div style="text-align: center">
						<button
							type="button"
							class="btn btn-primary waves-effect waves-light"
							onClick=" window.location.href='/' "
						>
							Volver
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
