{% extends 'base.html' %} {% block content %}

  
<head>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>

<div class="content">
	<div class="">
		<div class="page-header-title">
			<h1 class="page-title">Ropa</h1>
		</div>
	</div>
	<br />
	<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Buscar..." name = "buscar" style = "font-size: 20px;">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
	</form>
	<br />

	<section class="insta">
		<section class="insta-gallery">
			{% for registro in registro_list %}
			<section class="insta-picture-container">
				<img class="insta-picture" src="{{registro.url}}"/>
				<section class="insta-picture-data">
					<h5 class="card-title">{{ registro.titulo }}</h5>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					${{registro.precio}} pesos
					<br>
					Talla: {{registro.talla}}
					<p class="card-text">{{ registro.autor }}</p>
				</section>
    		</section>		
			{% endfor %}
		</section>
	</section>
	<div style="text-align: center">
		<button
			type="button"
			class="btn btn-primary waves-effect waves-light"
			onClick=" window.location.href='/' ">
			Volver
		</button>
	</div>
	<br>
	<br>
	
</div>
{% endblock %}
